@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply font-sans text-slate-800 bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-secondary-dark;
  }
}
